# Main domain for The Velez Lab Blog
http://{$SITE_ADDRESS:thevelezlab.com}, https://{$SITE_ADDRESS:thevelezlab.com} {
    tls internal
    reverse_proxy the-velez-lab-blog:80
}

# Subdomain for CV Forge
http://cv-forge.thevelezlab.com, https://cv-forge.thevelezlab.com {
    tls internal
    reverse_proxy cv-forge-frontend:80
}

# Subdomain for IMAGO Search
http://imago.thevelezlab.com, https://imago.thevelezlab.com {
    tls internal
    reverse_proxy imago-challenge:3000
}

:80, :443 {
    respond "404 Not Found - This domain is not configured on The Velez Lab Gateway." 404
}