services:
  caddy:
    image: caddy:latest
    container_name: velez-gateway
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - velez-network

volumes:
  caddy_data:
  caddy_config:


networks:
  velez-network:
    external: true
